.moodSlider {
  position: relative;
  width: 100%;
  max-width: 450px;
}

.moodSlider__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.moodSlider__input,
.moodSlider__input::-webkit-slider-runnable-track,
.moodSlider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
}

.moodSlider__bar {
  position: absolute;
  left: 0;
  top: -0.55em;
  right: 0;
  width: 100%;
  color: currentColor;
  transition: color 0.25s;
}

.moodSlider__input::-webkit-slider-thumb {
  position: relative;
  height: 1.8em;
  width: 1.8em;
  margin-top: -0.8em;
  background: currentColor;
  border-radius: 50%;
  transition: color 0.25s;
  border: 6px solid #4b556388;
}
